body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f766d7;
}

.box {
  width: 500px;
  height: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fdddfd;
  text-align: center;
  border-radius: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
}
