h1 {
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 800px;
  margin: 0 auto;
}
th {
  background-color: #dedede;
  color: #333;
  font-weight: bold;
}
th {
  text-transform: uppercase;
}
td {
  text-align: center;
}
button {
  margin: 0 auto;
}

@media print {
  .hide {
    display: none;
  }
  table {
    background-color: red;
  }
}
